body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1062px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:128px;
  top:96px;
  width:441px;
  height:47px;
}
#u3 {
  position:absolute;
  left:2px;
  top:14px;
  width:437px;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:934px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u4 {
  position:absolute;
  left:128px;
  top:164px;
  width:934px;
  height:40px;
  text-align:left;
}
#u4_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:934px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u4.mouseOver {
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:930px;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:934px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6 {
  position:absolute;
  left:128px;
  top:214px;
  width:934px;
  height:40px;
  text-align:left;
}
#u6_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:934px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6.mouseOver {
}
#u7 {
  position:absolute;
  left:2px;
  top:10px;
  width:930px;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  position:absolute;
  left:128px;
  top:288px;
  width:113px;
  height:20px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
