body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1318px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:354px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u9446 {
  position:absolute;
  left:149px;
  top:124px;
  width:450px;
  height:354px;
  text-align:left;
}
#u9447 {
  position:absolute;
  left:2px;
  top:2px;
  width:446px;
  word-wrap:break-word;
}
#u9448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:31px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9448 {
  position:absolute;
  left:306px;
  top:415px;
  width:136px;
  height:31px;
}
#u9449 {
  position:absolute;
  left:2px;
  top:6px;
  width:132px;
  word-wrap:break-word;
}
#u9450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u9450 {
  position:absolute;
  left:694px;
  top:118px;
  width:178px;
  height:31px;
  text-align:left;
}
#u9451 {
  position:absolute;
  left:2px;
  top:6px;
  width:174px;
  word-wrap:break-word;
}
#u9452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u9452 {
  position:absolute;
  left:694px;
  top:172px;
  width:624px;
  height:31px;
  text-align:left;
}
#u9453 {
  position:absolute;
  left:2px;
  top:6px;
  width:620px;
  word-wrap:break-word;
}
#u9454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u9454 {
  position:absolute;
  left:694px;
  top:203px;
  width:624px;
  height:31px;
  text-align:left;
}
#u9455 {
  position:absolute;
  left:2px;
  top:6px;
  width:620px;
  word-wrap:break-word;
}
#u9456_div {
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u9456 {
  position:absolute;
  left:694px;
  top:234px;
  width:624px;
  height:31px;
  text-align:left;
}
#u9457 {
  position:absolute;
  left:2px;
  top:6px;
  width:620px;
  word-wrap:break-word;
}
