body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1905px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5852 {
  position:absolute;
  left:145px;
  top:115px;
  width:57px;
  height:20px;
}
#u5853 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5854 {
  position:absolute;
  left:145px;
  top:164px;
  width:57px;
  height:20px;
}
#u5855 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5856 {
  position:absolute;
  left:145px;
  top:215px;
  width:57px;
  height:20px;
}
#u5857 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5858 {
  position:absolute;
  left:243px;
  top:215px;
  width:100px;
  height:20px;
}
#u5859 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5858_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5860 {
  position:absolute;
  left:382px;
  top:215px;
  width:100px;
  height:20px;
}
#u5861 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5860_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5862 {
  position:absolute;
  left:541px;
  top:215px;
  width:122px;
  height:20px;
}
#u5863 {
  position:absolute;
  left:16px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u5862_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5864 {
  position:absolute;
  left:686px;
  top:215px;
  width:100px;
  height:20px;
}
#u5865 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5864_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5866 {
  position:absolute;
  left:243px;
  top:164px;
  width:100px;
  height:20px;
}
#u5867 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5866_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5868 {
  position:absolute;
  left:382px;
  top:164px;
  width:100px;
  height:20px;
}
#u5869 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5868_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5870 {
  position:absolute;
  left:145px;
  top:285px;
  width:57px;
  height:20px;
}
#u5871 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1538px;
  height:428px;
}
#u5872 {
  position:absolute;
  left:243px;
  top:285px;
  width:1538px;
  height:428px;
}
#u5873 {
  position:absolute;
  left:2px;
  top:206px;
  width:1534px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5874 {
  position:absolute;
  left:243px;
  top:115px;
  width:452px;
  height:25px;
}
#u5874_input {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5875 {
  position:absolute;
  left:243px;
  top:746px;
  width:140px;
  height:40px;
}
#u5876 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u5877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1905px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5877 {
  position:absolute;
  left:0px;
  top:0px;
  width:1905px;
  height:68px;
}
#u5878 {
  position:absolute;
  left:2px;
  top:26px;
  width:1901px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:64px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5879 {
  position:absolute;
  left:145px;
  top:2px;
  width:233px;
  height:64px;
}
#u5880 {
  position:absolute;
  left:2px;
  top:22px;
  width:229px;
  word-wrap:break-word;
}
