body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2260px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:1004px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5162 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:277px;
  height:1004px;
  display:flex;
}
#u5162 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5162_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u5163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:63px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5163 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:105px;
  width:271px;
  height:63px;
  display:flex;
}
#u5163 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5164 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:190px;
  width:252px;
  height:44px;
  display:flex;
}
#u5164 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5164_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:44px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5164.selected {
}
#u5164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5165 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:278px;
  width:252px;
  height:44px;
  display:flex;
}
#u5165 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5165_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:44px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5165.selected {
}
#u5165_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5166 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:366px;
  width:252px;
  height:44px;
  display:flex;
}
#u5166 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5166_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:44px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5166.selected {
}
#u5166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5167 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:322px;
  width:252px;
  height:44px;
  display:flex;
}
#u5167 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5167_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:44px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5167.selected {
}
#u5167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5168 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:234px;
  width:252px;
  height:44px;
  display:flex;
}
#u5168 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5168_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:44px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5168.selected {
}
#u5168_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1206px;
  height:1004px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u5169 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:100px;
  width:1206px;
  height:1004px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u5169 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5169_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u5170 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1167px;
  height:204px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5171 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:187px;
  width:1167px;
  height:204px;
  display:flex;
}
#u5171 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5171_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u5172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:649px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u5172 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:198px;
  width:649px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u5172 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u5172_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u5173 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:228px;
  width:289px;
  height:25px;
  display:flex;
  color:#666666;
  text-align:left;
}
#u5173 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5173_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5174 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:262px;
  width:961px;
  height:50px;
  display:flex;
}
#u5174 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u5174_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5175 {
  border-width:0px;
  position:absolute;
  left:1316px;
  top:262px;
  width:164px;
  height:50px;
  display:flex;
  color:#999999;
}
#u5175 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5175_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5176 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:313px;
  width:961px;
  height:50px;
  display:flex;
}
#u5176 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u5176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5177 {
  border-width:0px;
  position:absolute;
  left:1316px;
  top:313px;
  width:164px;
  height:50px;
  display:flex;
  color:#999999;
}
#u5177 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
}
#u5178 {
  border-width:0px;
  position:absolute;
  left:1220px;
  top:198px;
  width:131px;
  height:25px;
  display:flex;
  color:#999999;
  text-align:right;
}
#u5178 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5178_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
}
#u5179 {
  border-width:0px;
  position:absolute;
  left:1359px;
  top:198px;
  width:99px;
  height:25px;
  display:flex;
  color:#999999;
  text-align:right;
}
#u5179 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:52px;
}
#u5180 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:260px;
  width:1px;
  height:51px;
  display:flex;
}
#u5180 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5180_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u5181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:52px;
}
#u5181 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:316px;
  width:1px;
  height:51px;
  display:flex;
}
#u5181 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5181_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u5182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5182 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:108px;
  width:101px;
  height:50px;
  display:flex;
}
#u5182 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5184 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:1920px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u5184 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5184_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u5185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:49px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5185 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:1px;
  width:200px;
  height:49px;
  display:flex;
  font-size:16px;
}
#u5185 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5185_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:49px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5185.selected {
}
#u5185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5186 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:0px;
  width:200px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u5186 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5186_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5186.selected {
}
#u5186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:49px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5187 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1px;
  width:150px;
  height:49px;
  display:flex;
  font-size:16px;
}
#u5187 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5188 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:0px;
  width:200px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u5188 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5188_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5188.selected {
}
#u5188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5189 {
  border-width:0px;
  position:absolute;
  left:1345px;
  top:0px;
  width:200px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u5189 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5189_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5189.selected {
}
#u5189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5190 {
  border-width:0px;
  position:absolute;
  left:943px;
  top:0px;
  width:200px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u5190 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5190_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5190.selected {
}
#u5190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5191 {
  border-width:0px;
  position:absolute;
  left:1144px;
  top:0px;
  width:200px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u5191 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5191_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5191.selected {
}
#u5191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5192 {
  position:absolute;
  left:0px;
  top:51px;
  visibility:hidden;
}
#u5192_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1920px;
  height:94px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5192_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:94px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:94px;
  display:flex;
  font-size:16px;
}
#u5193 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5193_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u5194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5194 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:37px;
  width:64px;
  height:21px;
  display:flex;
  font-size:16px;
}
#u5194 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u5194_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5195 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:37px;
  width:64px;
  height:21px;
  display:flex;
  font-size:16px;
}
#u5195 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u5195_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5196 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:37px;
  width:64px;
  height:21px;
  display:flex;
  font-size:16px;
}
#u5196 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u5196_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5197 {
  border-width:0px;
  position:absolute;
  left:1238px;
  top:37px;
  width:80px;
  height:21px;
  display:flex;
  font-size:16px;
}
#u5197 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u5197_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5198 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:39px;
  width:15px;
  height:15px;
  display:flex;
}
#u5198 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5198_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u5199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5199 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:39px;
  width:15px;
  height:15px;
  display:flex;
}
#u5199 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5199_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u5200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5200 {
  border-width:0px;
  position:absolute;
  left:928px;
  top:39px;
  width:15px;
  height:15px;
  display:flex;
}
#u5200 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5200_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u5201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5201 {
  border-width:0px;
  position:absolute;
  left:1221px;
  top:39px;
  width:15px;
  height:15px;
  display:flex;
}
#u5201 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5201_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u5202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5202 {
  border-width:0px;
  position:absolute;
  left:1497px;
  top:39px;
  width:64px;
  height:21px;
  display:flex;
  font-size:16px;
}
#u5202 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u5202_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5203 {
  border-width:0px;
  position:absolute;
  left:1480px;
  top:41px;
  width:15px;
  height:15px;
  display:flex;
}
#u5203 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5203_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u5192_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:1920px;
  height:94px;
  visibility:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5192_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:94px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5204 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:94px;
  display:flex;
  font-size:16px;
}
#u5204 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5204_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u5205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5205 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:38px;
  width:64px;
  height:21px;
  display:flex;
  font-size:16px;
}
#u5205 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u5205_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5206 {
  border-width:0px;
  position:absolute;
  left:1046px;
  top:40px;
  width:15px;
  height:15px;
  display:flex;
}
#u5206 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5206_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u5207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5207 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:38px;
  width:64px;
  height:21px;
  display:flex;
  font-size:16px;
}
#u5207 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u5207_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5208 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:40px;
  width:15px;
  height:15px;
  display:flex;
}
#u5208 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5208_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u5209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:49px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5209 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:1px;
  width:186px;
  height:49px;
  display:flex;
  font-size:16px;
}
#u5209 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5209_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:49px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5209.selected {
}
#u5209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5210 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1167px;
  height:204px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5211 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:401px;
  width:1167px;
  height:204px;
  display:flex;
}
#u5211 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5211_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u5212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:649px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u5212 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:412px;
  width:649px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u5212 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u5212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u5213 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:442px;
  width:289px;
  height:25px;
  display:flex;
  color:#666666;
  text-align:left;
}
#u5213 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5213_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5214 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:476px;
  width:961px;
  height:50px;
  display:flex;
}
#u5214 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u5214_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5215 {
  border-width:0px;
  position:absolute;
  left:1316px;
  top:476px;
  width:164px;
  height:50px;
  display:flex;
  color:#999999;
}
#u5215 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5215_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5216 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:527px;
  width:961px;
  height:50px;
  display:flex;
}
#u5216 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u5216_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5217 {
  border-width:0px;
  position:absolute;
  left:1316px;
  top:527px;
  width:164px;
  height:50px;
  display:flex;
  color:#999999;
}
#u5217 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5217_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
}
#u5218 {
  border-width:0px;
  position:absolute;
  left:1206px;
  top:412px;
  width:145px;
  height:25px;
  display:flex;
  color:#999999;
  text-align:right;
}
#u5218 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5218_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
}
#u5219 {
  border-width:0px;
  position:absolute;
  left:1359px;
  top:412px;
  width:99px;
  height:25px;
  display:flex;
  color:#999999;
  text-align:right;
}
#u5219 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5219_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:52px;
}
#u5220 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:474px;
  width:1px;
  height:51px;
  display:flex;
}
#u5220 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5220_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u5221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:52px;
}
#u5221 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:530px;
  width:1px;
  height:51px;
  display:flex;
}
#u5221 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5221_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u5222 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1167px;
  height:204px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5223 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:615px;
  width:1167px;
  height:204px;
  display:flex;
}
#u5223 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5223_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u5224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:649px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u5224 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:626px;
  width:649px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u5224 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u5224_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u5225 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:656px;
  width:289px;
  height:25px;
  display:flex;
  color:#666666;
  text-align:left;
}
#u5225 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5225_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5226 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:690px;
  width:961px;
  height:50px;
  display:flex;
}
#u5226 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u5226_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5227 {
  border-width:0px;
  position:absolute;
  left:1316px;
  top:690px;
  width:164px;
  height:50px;
  display:flex;
  color:#999999;
}
#u5227 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5227_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5228 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:741px;
  width:961px;
  height:50px;
  display:flex;
}
#u5228 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u5228_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5229 {
  border-width:0px;
  position:absolute;
  left:1316px;
  top:741px;
  width:164px;
  height:50px;
  display:flex;
  color:#999999;
}
#u5229 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5229_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
}
#u5230 {
  border-width:0px;
  position:absolute;
  left:1220px;
  top:626px;
  width:131px;
  height:25px;
  display:flex;
  color:#999999;
  text-align:right;
}
#u5230 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5230_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
}
#u5231 {
  border-width:0px;
  position:absolute;
  left:1359px;
  top:626px;
  width:99px;
  height:25px;
  display:flex;
  color:#999999;
  text-align:right;
}
#u5231 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5231_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:52px;
}
#u5232 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:688px;
  width:1px;
  height:51px;
  display:flex;
}
#u5232 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5232_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u5233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:52px;
}
#u5233 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:744px;
  width:1px;
  height:51px;
  display:flex;
}
#u5233 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5233_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u5234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u5234 {
  border-width:0px;
  position:absolute;
  left:1960px;
  top:100px;
  width:300px;
  height:170px;
  display:flex;
  text-align:left;
}
#u5234 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5234_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
