body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1864px;
  height:980px;
}
#u4962 {
  position:absolute;
  left:0px;
  top:0px;
  width:1864px;
  height:980px;
}
#u4963 {
  position:absolute;
  left:2px;
  top:482px;
  width:1860px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:114px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4964 {
  position:absolute;
  left:1589px;
  top:604px;
  width:148px;
  height:114px;
}
#u4965 {
  position:absolute;
  left:2px;
  top:49px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4966 {
  position:absolute;
  left:1633px;
  top:627px;
  visibility:hidden;
}
#u4966_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4966_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:180px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4967 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:180px;
}
#u4968 {
  position:absolute;
  left:2px;
  top:82px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4969 {
  position:absolute;
  left:61px;
  top:138px;
  width:61px;
  height:29px;
}
#u4970 {
  position:absolute;
  left:2px;
  top:4px;
  width:57px;
  white-space:nowrap;
}
#u4971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:125px;
}
#u4971 {
  position:absolute;
  left:29px;
  top:14px;
  width:125px;
  height:125px;
}
#u4972 {
  position:absolute;
  left:2px;
  top:54px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u4973 {
  position:absolute;
  left:2000px;
  top:181px;
  width:430px;
  height:36px;
  text-align:left;
}
#u4974 {
  position:absolute;
  left:2px;
  top:8px;
  width:426px;
  word-wrap:break-word;
}
#u4975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u4975 {
  position:absolute;
  left:2000px;
  top:145px;
  width:430px;
  height:36px;
  text-align:left;
}
#u4976 {
  position:absolute;
  left:2px;
  top:8px;
  width:426px;
  word-wrap:break-word;
}
#u4977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:219px;
}
#u4977 {
  position:absolute;
  left:1817px;
  top:627px;
  width:47px;
  height:219px;
}
#u4978 {
  position:absolute;
  left:2px;
  top:102px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:29px;
}
#u4979 {
  position:absolute;
  left:1825px;
  top:640px;
  width:30px;
  height:29px;
}
#u4980 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4981 {
  position:absolute;
  left:1825px;
  top:699px;
  width:30px;
  height:30px;
}
#u4982 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:2px;
}
#u4983 {
  position:absolute;
  left:1817px;
  top:748px;
  width:47px;
  height:1px;
}
#u4984 {
  position:absolute;
  left:2px;
  top:-8px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:2px;
}
#u4985 {
  position:absolute;
  left:1817px;
  top:688px;
  width:47px;
  height:1px;
}
#u4986 {
  position:absolute;
  left:2px;
  top:-8px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4987 {
  position:absolute;
  left:854px;
  top:92px;
  width:300px;
  height:44px;
}
#u4988 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u4989 {
  position:absolute;
  left:533px;
  top:161px;
  visibility:hidden;
}
#u4989_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4989_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:969px;
  height:700px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4990 {
  position:absolute;
  left:0px;
  top:0px;
  width:969px;
  height:700px;
}
#u4991 {
  position:absolute;
  left:2px;
  top:342px;
  width:965px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4992 {
  position:absolute;
  left:224px;
  top:130px;
  width:57px;
  height:20px;
}
#u4993 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4994 {
  position:absolute;
  left:224px;
  top:202px;
  width:57px;
  height:20px;
}
#u4995 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4996 {
  position:absolute;
  left:224px;
  top:363px;
  width:57px;
  height:20px;
}
#u4997 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4998 {
  position:absolute;
  left:311px;
  top:130px;
  width:511px;
  height:25px;
}
#u4998_input {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4999 {
  position:absolute;
  left:311px;
  top:211px;
  width:511px;
  height:100px;
}
#u4999_input {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:91px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:72px;
}
#u5000 {
  position:absolute;
  left:311px;
  top:363px;
  width:106px;
  height:91px;
  font-size:72px;
}
#u5001 {
  position:absolute;
  left:2px;
  top:-2px;
  width:102px;
  word-wrap:break-word;
}
#u5002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5002 {
  position:absolute;
  left:456px;
  top:15px;
  width:57px;
  height:20px;
}
#u5003 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5004 {
  position:absolute;
  left:575px;
  top:590px;
  width:140px;
  height:40px;
}
#u5005 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u5006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5006 {
  position:absolute;
  left:311px;
  top:590px;
  width:140px;
  height:40px;
}
#u5007 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u5008 {
  position:absolute;
  left:1267px;
  top:627px;
  visibility:hidden;
}
#u5008_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u5008_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:180px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5009 {
  position:absolute;
  left:366px;
  top:0px;
  width:182px;
  height:180px;
}
#u5010 {
  position:absolute;
  left:2px;
  top:82px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:98px;
}
#u5011 {
  position:absolute;
  left:410px;
  top:13px;
  width:95px;
  height:98px;
}
#u5012 {
  position:absolute;
  left:2px;
  top:41px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u5013 {
  position:absolute;
  left:413px;
  top:127px;
  width:88px;
  height:29px;
  text-align:left;
}
#u5014 {
  position:absolute;
  left:2px;
  top:-6px;
  width:84px;
  word-wrap:break-word;
}
#u5015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:180px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5015 {
  position:absolute;
  left:183px;
  top:0px;
  width:182px;
  height:180px;
}
#u5016 {
  position:absolute;
  left:2px;
  top:82px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:98px;
}
#u5017 {
  position:absolute;
  left:227px;
  top:13px;
  width:95px;
  height:98px;
}
#u5018 {
  position:absolute;
  left:2px;
  top:41px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u5019 {
  position:absolute;
  left:230px;
  top:127px;
  width:88px;
  height:29px;
  text-align:left;
}
#u5020 {
  position:absolute;
  left:2px;
  top:-6px;
  width:84px;
  word-wrap:break-word;
}
#u5021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:180px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5021 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:180px;
}
#u5022 {
  position:absolute;
  left:2px;
  top:82px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:98px;
}
#u5023 {
  position:absolute;
  left:44px;
  top:13px;
  width:95px;
  height:98px;
}
#u5024 {
  position:absolute;
  left:2px;
  top:41px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u5025 {
  position:absolute;
  left:47px;
  top:127px;
  width:88px;
  height:29px;
  text-align:left;
}
#u5026 {
  position:absolute;
  left:2px;
  top:-6px;
  width:84px;
  word-wrap:break-word;
}
#u5027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u5027 {
  position:absolute;
  left:2000px;
  top:217px;
  width:430px;
  height:36px;
  text-align:left;
}
#u5028 {
  position:absolute;
  left:2px;
  top:8px;
  width:426px;
  word-wrap:break-word;
}
#u5029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5029 {
  position:absolute;
  left:1825px;
  top:805px;
  width:30px;
  height:30px;
}
#u5030 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:2px;
}
#u5031 {
  position:absolute;
  left:1817px;
  top:799px;
  width:47px;
  height:1px;
}
#u5032 {
  position:absolute;
  left:2px;
  top:-8px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u5033 {
  position:absolute;
  left:2000px;
  top:253px;
  width:430px;
  height:36px;
  text-align:left;
}
#u5034 {
  position:absolute;
  left:2px;
  top:8px;
  width:426px;
  word-wrap:break-word;
}
#u5035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5035 {
  position:absolute;
  left:1828px;
  top:755px;
  width:25px;
  height:34px;
  font-size:12px;
}
#u5036 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
