body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2260px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:1004px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9856 {
  position:absolute;
  left:20px;
  top:100px;
  width:277px;
  height:1004px;
}
#u9857 {
  position:absolute;
  left:2px;
  top:494px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:63px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9858 {
  position:absolute;
  left:23px;
  top:105px;
  width:271px;
  height:63px;
}
#u9859 {
  position:absolute;
  left:2px;
  top:22px;
  width:267px;
  word-wrap:break-word;
}
#u9860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9860 {
  position:absolute;
  left:32px;
  top:190px;
  width:252px;
  height:44px;
}
#u9860_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:44px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9860.selected {
}
#u9861 {
  position:absolute;
  left:2px;
  top:12px;
  width:248px;
  word-wrap:break-word;
}
#u9862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9862 {
  position:absolute;
  left:32px;
  top:278px;
  width:252px;
  height:44px;
}
#u9862_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:44px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9862.selected {
}
#u9863 {
  position:absolute;
  left:2px;
  top:12px;
  width:248px;
  word-wrap:break-word;
}
#u9864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9864 {
  position:absolute;
  left:33px;
  top:366px;
  width:252px;
  height:44px;
}
#u9864_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:44px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9864.selected {
}
#u9865 {
  position:absolute;
  left:2px;
  top:12px;
  width:248px;
  word-wrap:break-word;
}
#u9866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9866 {
  position:absolute;
  left:32px;
  top:322px;
  width:252px;
  height:44px;
}
#u9866_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:44px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9866.selected {
}
#u9867 {
  position:absolute;
  left:2px;
  top:12px;
  width:248px;
  word-wrap:break-word;
}
#u9868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9868 {
  position:absolute;
  left:32px;
  top:234px;
  width:252px;
  height:44px;
}
#u9868_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:44px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9868.selected {
}
#u9869 {
  position:absolute;
  left:2px;
  top:12px;
  width:248px;
  word-wrap:break-word;
}
#u9870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1206px;
  height:1004px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u9870 {
  position:absolute;
  left:314px;
  top:100px;
  width:1206px;
  height:1004px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u9871 {
  position:absolute;
  left:2px;
  top:2px;
  width:1202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:560px;
}
#u9872 {
  position:absolute;
  left:549px;
  top:338px;
  width:142px;
  height:560px;
}
#u9873 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u9874 {
  position:absolute;
  left:701px;
  top:399px;
  width:300px;
  height:25px;
}
#u9874_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9875 {
  position:absolute;
  left:701px;
  top:338px;
  width:89px;
  height:20px;
}
#u9876 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u9877 {
  position:absolute;
  left:701px;
  top:517px;
  width:100px;
  height:20px;
}
#u9878 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u9877_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9879 {
  position:absolute;
  left:782px;
  top:517px;
  width:100px;
  height:20px;
}
#u9880 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u9879_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9881 {
  position:absolute;
  left:701px;
  top:568px;
  width:300px;
  height:25px;
}
#u9881_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9882 {
  position:absolute;
  left:701px;
  top:636px;
  width:300px;
  height:25px;
}
#u9882_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9883 {
  position:absolute;
  left:701px;
  top:700px;
  width:300px;
  height:25px;
}
#u9883_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9884 {
  position:absolute;
  left:701px;
  top:760px;
  width:300px;
  height:22px;
}
#u9884_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u9884_input:disabled {
  color:grayText;
}
#u9885 {
  position:absolute;
  left:701px;
  top:822px;
  width:300px;
  height:25px;
}
#u9885_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9886 {
  position:absolute;
  left:701px;
  top:879px;
  width:300px;
  height:25px;
}
#u9886_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u9887 {
  position:absolute;
  left:976px;
  top:883px;
  width:20px;
  height:20px;
}
#u9888 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9889 {
  position:absolute;
  left:701px;
  top:977px;
  width:300px;
  height:32px;
}
#u9890 {
  position:absolute;
  left:2px;
  top:6px;
  width:296px;
  word-wrap:break-word;
}
#u9891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u9891 {
  position:absolute;
  left:401px;
  top:109px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u9892 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u9894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9894 {
  position:absolute;
  left:0px;
  top:1px;
  width:1920px;
  height:50px;
  font-size:16px;
}
#u9895 {
  position:absolute;
  left:2px;
  top:17px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:49px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9896 {
  position:absolute;
  left:153px;
  top:1px;
  width:200px;
  height:49px;
  font-size:16px;
}
#u9896_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:49px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9896.selected {
}
#u9897 {
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  word-wrap:break-word;
}
#u9898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9898 {
  position:absolute;
  left:541px;
  top:0px;
  width:200px;
  height:50px;
  font-size:16px;
}
#u9898_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9898.selected {
}
#u9899 {
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  word-wrap:break-word;
}
#u9900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:49px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9900 {
  position:absolute;
  left:1px;
  top:1px;
  width:150px;
  height:49px;
  font-size:16px;
}
#u9901 {
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u9902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9902 {
  position:absolute;
  left:742px;
  top:0px;
  width:200px;
  height:50px;
  font-size:16px;
}
#u9902_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9902.selected {
}
#u9903 {
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  word-wrap:break-word;
}
#u9904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9904 {
  position:absolute;
  left:1345px;
  top:0px;
  width:200px;
  height:50px;
  font-size:16px;
}
#u9904_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9904.selected {
}
#u9905 {
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  word-wrap:break-word;
}
#u9906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9906 {
  position:absolute;
  left:943px;
  top:0px;
  width:200px;
  height:50px;
  font-size:16px;
}
#u9906_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9906.selected {
}
#u9907 {
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  word-wrap:break-word;
}
#u9908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9908 {
  position:absolute;
  left:1144px;
  top:0px;
  width:200px;
  height:50px;
  font-size:16px;
}
#u9908_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9908.selected {
}
#u9909 {
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  word-wrap:break-word;
}
#u9910 {
  position:absolute;
  left:0px;
  top:51px;
  visibility:hidden;
}
#u9910_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u9910_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:94px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9911 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:94px;
  font-size:16px;
}
#u9912 {
  position:absolute;
  left:2px;
  top:39px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u9913 {
  position:absolute;
  left:375px;
  top:37px;
  width:65px;
  height:21px;
  font-size:16px;
}
#u9914 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u9915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u9915 {
  position:absolute;
  left:660px;
  top:37px;
  width:65px;
  height:21px;
  font-size:16px;
}
#u9916 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u9917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u9917 {
  position:absolute;
  left:945px;
  top:37px;
  width:65px;
  height:21px;
  font-size:16px;
}
#u9918 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u9919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u9919 {
  position:absolute;
  left:1238px;
  top:37px;
  width:81px;
  height:21px;
  font-size:16px;
}
#u9920 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u9921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u9921 {
  position:absolute;
  left:358px;
  top:39px;
  width:15px;
  height:15px;
}
#u9922 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u9923 {
  position:absolute;
  left:643px;
  top:39px;
  width:15px;
  height:15px;
}
#u9924 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u9925 {
  position:absolute;
  left:928px;
  top:39px;
  width:15px;
  height:15px;
}
#u9926 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u9927 {
  position:absolute;
  left:1221px;
  top:39px;
  width:15px;
  height:15px;
}
#u9928 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u9929 {
  position:absolute;
  left:1497px;
  top:39px;
  width:65px;
  height:21px;
  font-size:16px;
}
#u9930 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u9931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u9931 {
  position:absolute;
  left:1480px;
  top:41px;
  width:15px;
  height:15px;
}
#u9932 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9910_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u9910_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:94px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9933 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:94px;
  font-size:16px;
}
#u9934 {
  position:absolute;
  left:2px;
  top:39px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u9935 {
  position:absolute;
  left:1071px;
  top:38px;
  width:65px;
  height:21px;
  font-size:16px;
}
#u9936 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u9937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u9937 {
  position:absolute;
  left:1046px;
  top:40px;
  width:15px;
  height:15px;
}
#u9938 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u9939 {
  position:absolute;
  left:809px;
  top:38px;
  width:65px;
  height:21px;
  font-size:16px;
}
#u9940 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u9941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u9941 {
  position:absolute;
  left:784px;
  top:40px;
  width:15px;
  height:15px;
}
#u9942 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:49px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9943 {
  position:absolute;
  left:354px;
  top:1px;
  width:186px;
  height:49px;
  font-size:16px;
}
#u9943_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:49px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9943.selected {
}
#u9944 {
  position:absolute;
  left:2px;
  top:14px;
  width:182px;
  word-wrap:break-word;
}
#u9945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u9945 {
  position:absolute;
  left:549px;
  top:250px;
  width:50px;
  height:50px;
}
#u9946 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0066FF;
}
#u9947 {
  position:absolute;
  left:701px;
  top:265px;
  width:57px;
  height:20px;
  color:#0066FF;
}
#u9948 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u9949 {
  position:absolute;
  left:1960px;
  top:100px;
  width:300px;
  height:170px;
  text-align:left;
}
#u9950 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
