body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:945px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:43px;
}
#u227 {
  position:absolute;
  left:30px;
  top:20px;
  width:200px;
  height:43px;
}
#u228 {
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:426px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u229 {
  position:absolute;
  left:245px;
  top:148px;
  width:700px;
  height:426px;
}
#u230 {
  position:absolute;
  left:2px;
  top:205px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u231 {
  position:absolute;
  left:385px;
  top:170px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u232 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:330px;
}
#u233 {
  position:absolute;
  left:628px;
  top:199px;
  width:283px;
  height:330px;
}
#u234 {
  position:absolute;
  left:2px;
  top:157px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:319px;
}
#u235 {
  position:absolute;
  left:595px;
  top:223px;
  width:1px;
  height:318px;
}
#u236 {
  position:absolute;
  left:2px;
  top:151px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u237 {
  position:absolute;
  left:297px;
  top:256px;
  width:248px;
  height:38px;
}
#u238 {
  position:absolute;
  left:2px;
  top:11px;
  width:244px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239 {
  position:absolute;
  left:298px;
  top:257px;
  width:246px;
  height:36px;
}
#u239_input {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u240 {
  position:absolute;
  left:297px;
  top:318px;
  width:248px;
  height:38px;
}
#u241 {
  position:absolute;
  left:2px;
  top:11px;
  width:244px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242 {
  position:absolute;
  left:298px;
  top:319px;
  width:246px;
  height:36px;
}
#u242_input {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u243 {
  position:absolute;
  left:298px;
  top:387px;
  width:246px;
  height:40px;
}
#u244 {
  position:absolute;
  left:2px;
  top:10px;
  width:242px;
  word-wrap:break-word;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u245 {
  position:absolute;
  left:298px;
  top:511px;
  width:30px;
  height:30px;
}
#u246 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u247 {
  position:absolute;
  left:370px;
  top:511px;
  width:30px;
  height:30px;
}
#u248 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u249 {
  position:absolute;
  left:473px;
  top:437px;
  width:71px;
  height:20px;
  font-size:14px;
  text-align:center;
}
#u250 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u251 {
  position:absolute;
  left:487px;
  top:516px;
  width:57px;
  height:20px;
  font-size:14px;
  text-align:center;
}
#u252 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u253 {
  position:absolute;
  left:298px;
  top:437px;
  width:100px;
  height:20px;
}
#u254 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u253_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
}
#u255 {
  position:absolute;
  left:446px;
  top:227px;
  width:99px;
  height:20px;
  font-size:14px;
  text-align:center;
}
#u256 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:2px;
}
#u257 {
  position:absolute;
  left:298px;
  top:491px;
  width:246px;
  height:1px;
  color:#999999;
}
#u258 {
  position:absolute;
  left:2px;
  top:-8px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
