body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:921px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:2px;
}
#u4892 {
  position:absolute;
  left:321px;
  top:889px;
  width:600px;
  height:1px;
}
#u4893 {
  position:absolute;
  left:2px;
  top:-8px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4894 {
  position:absolute;
  left:508px;
  top:900px;
  width:100px;
  height:30px;
}
#u4895 {
  position:absolute;
  left:2px;
  top:5px;
  width:96px;
  word-wrap:break-word;
}
#u4896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4896 {
  position:absolute;
  left:635px;
  top:900px;
  width:100px;
  height:30px;
}
#u4897 {
  position:absolute;
  left:2px;
  top:5px;
  width:96px;
  word-wrap:break-word;
}
