body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1318px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:354px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3686 {
  position:absolute;
  left:149px;
  top:124px;
  width:450px;
  height:354px;
  text-align:left;
}
#u3687 {
  position:absolute;
  left:2px;
  top:2px;
  width:446px;
  word-wrap:break-word;
}
#u3688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:31px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3688 {
  position:absolute;
  left:306px;
  top:415px;
  width:136px;
  height:31px;
}
#u3689 {
  position:absolute;
  left:2px;
  top:6px;
  width:132px;
  word-wrap:break-word;
}
#u3690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3690 {
  position:absolute;
  left:694px;
  top:118px;
  width:178px;
  height:31px;
  text-align:left;
}
#u3691 {
  position:absolute;
  left:2px;
  top:6px;
  width:174px;
  word-wrap:break-word;
}
#u3692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3692 {
  position:absolute;
  left:694px;
  top:172px;
  width:624px;
  height:31px;
  text-align:left;
}
#u3693 {
  position:absolute;
  left:2px;
  top:6px;
  width:620px;
  word-wrap:break-word;
}
#u3694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3694 {
  position:absolute;
  left:694px;
  top:203px;
  width:624px;
  height:31px;
  text-align:left;
}
#u3695 {
  position:absolute;
  left:2px;
  top:6px;
  width:620px;
  word-wrap:break-word;
}
#u3696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3696 {
  position:absolute;
  left:694px;
  top:234px;
  width:624px;
  height:31px;
  text-align:left;
}
#u3697 {
  position:absolute;
  left:2px;
  top:6px;
  width:620px;
  word-wrap:break-word;
}
