body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1736px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:43px;
}
#u66 {
  position:absolute;
  left:30px;
  top:20px;
  width:200px;
  height:43px;
}
#u67 {
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_div {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:426px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68 {
  position:absolute;
  left:250px;
  top:150px;
  width:700px;
  height:426px;
}
#u69 {
  position:absolute;
  left:2px;
  top:205px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u70 {
  position:absolute;
  left:390px;
  top:172px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:330px;
}
#u72 {
  position:absolute;
  left:633px;
  top:201px;
  width:283px;
  height:330px;
}
#u73 {
  position:absolute;
  left:2px;
  top:157px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:319px;
}
#u74 {
  position:absolute;
  left:600px;
  top:225px;
  width:1px;
  height:318px;
}
#u75 {
  position:absolute;
  left:2px;
  top:151px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76 {
  position:absolute;
  left:302px;
  top:258px;
  width:248px;
  height:38px;
}
#u77 {
  position:absolute;
  left:2px;
  top:11px;
  width:244px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:303px;
  top:259px;
  width:246px;
  height:36px;
}
#u78_input {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u79_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u79 {
  position:absolute;
  left:302px;
  top:320px;
  width:248px;
  height:38px;
}
#u80 {
  position:absolute;
  left:2px;
  top:11px;
  width:244px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:303px;
  top:321px;
  width:246px;
  height:36px;
}
#u81_input {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82 {
  position:absolute;
  left:303px;
  top:389px;
  width:246px;
  height:40px;
}
#u83 {
  position:absolute;
  left:2px;
  top:10px;
  width:242px;
  word-wrap:break-word;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u84 {
  position:absolute;
  left:303px;
  top:513px;
  width:30px;
  height:30px;
}
#u85 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u86 {
  position:absolute;
  left:375px;
  top:513px;
  width:30px;
  height:30px;
}
#u87 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u88 {
  position:absolute;
  left:478px;
  top:439px;
  width:71px;
  height:20px;
  font-size:14px;
  text-align:center;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u90 {
  position:absolute;
  left:492px;
  top:523px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:303px;
  top:439px;
  width:100px;
  height:20px;
}
#u93 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u92_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
}
#u94 {
  position:absolute;
  left:451px;
  top:229px;
  width:99px;
  height:20px;
  font-size:14px;
  text-align:center;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:2px;
}
#u96 {
  position:absolute;
  left:303px;
  top:493px;
  width:246px;
  height:1px;
  color:#999999;
}
#u97 {
  position:absolute;
  left:2px;
  top:-8px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u98 {
  position:absolute;
  left:257px;
  top:618px;
  width:300px;
  height:170px;
  text-align:left;
}
#u99 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
#u100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:426px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u100 {
  position:absolute;
  left:1036px;
  top:150px;
  width:700px;
  height:426px;
}
#u101 {
  position:absolute;
  left:2px;
  top:205px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u102 {
  position:absolute;
  left:1176px;
  top:172px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:330px;
}
#u104 {
  position:absolute;
  left:1419px;
  top:201px;
  width:283px;
  height:330px;
}
#u105 {
  position:absolute;
  left:2px;
  top:157px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:319px;
}
#u106 {
  position:absolute;
  left:1386px;
  top:225px;
  width:1px;
  height:318px;
}
#u107 {
  position:absolute;
  left:2px;
  top:151px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u108 {
  position:absolute;
  left:1088px;
  top:258px;
  width:248px;
  height:38px;
}
#u109 {
  position:absolute;
  left:2px;
  top:11px;
  width:244px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:1089px;
  top:259px;
  width:246px;
  height:36px;
}
#u110_input {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u111 {
  position:absolute;
  left:1088px;
  top:320px;
  width:137px;
  height:38px;
}
#u112 {
  position:absolute;
  left:2px;
  top:11px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:1089px;
  top:321px;
  width:135px;
  height:36px;
}
#u113_input {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u114 {
  position:absolute;
  left:1089px;
  top:389px;
  width:246px;
  height:40px;
}
#u115 {
  position:absolute;
  left:2px;
  top:10px;
  width:242px;
  word-wrap:break-word;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u116 {
  position:absolute;
  left:1089px;
  top:513px;
  width:30px;
  height:30px;
}
#u117 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u118 {
  position:absolute;
  left:1161px;
  top:513px;
  width:30px;
  height:30px;
}
#u119 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u120 {
  position:absolute;
  left:1278px;
  top:523px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u122 {
  position:absolute;
  left:1278px;
  top:229px;
  width:57px;
  height:20px;
  font-size:14px;
  text-align:center;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:2px;
}
#u124 {
  position:absolute;
  left:1089px;
  top:493px;
  width:246px;
  height:1px;
  color:#999999;
}
#u125 {
  position:absolute;
  left:2px;
  top:-8px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u126 {
  position:absolute;
  left:1235px;
  top:322px;
  width:100px;
  height:30px;
}
#u127 {
  position:absolute;
  left:2px;
  top:5px;
  width:96px;
  word-wrap:break-word;
}
