body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1595px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:43px;
}
#u4323 {
  position:absolute;
  left:30px;
  top:20px;
  width:200px;
  height:43px;
}
#u4324 {
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:426px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4325 {
  position:absolute;
  left:245px;
  top:148px;
  width:700px;
  height:426px;
}
#u4326 {
  position:absolute;
  left:2px;
  top:205px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u4327 {
  position:absolute;
  left:385px;
  top:170px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u4328 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:330px;
}
#u4329 {
  position:absolute;
  left:628px;
  top:199px;
  width:283px;
  height:330px;
}
#u4330 {
  position:absolute;
  left:2px;
  top:157px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:319px;
}
#u4331 {
  position:absolute;
  left:595px;
  top:223px;
  width:1px;
  height:318px;
}
#u4332 {
  position:absolute;
  left:2px;
  top:151px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4333 {
  position:absolute;
  left:297px;
  top:256px;
  width:248px;
  height:38px;
}
#u4334 {
  position:absolute;
  left:2px;
  top:11px;
  width:244px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4335 {
  position:absolute;
  left:298px;
  top:257px;
  width:246px;
  height:36px;
}
#u4335_input {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4336 {
  position:absolute;
  left:297px;
  top:318px;
  width:248px;
  height:38px;
}
#u4337 {
  position:absolute;
  left:2px;
  top:11px;
  width:244px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4338 {
  position:absolute;
  left:298px;
  top:319px;
  width:246px;
  height:36px;
}
#u4338_input {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4339 {
  position:absolute;
  left:298px;
  top:387px;
  width:246px;
  height:40px;
}
#u4340 {
  position:absolute;
  left:2px;
  top:10px;
  width:242px;
  word-wrap:break-word;
}
#u4341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4341 {
  position:absolute;
  left:298px;
  top:511px;
  width:30px;
  height:30px;
}
#u4342 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4343 {
  position:absolute;
  left:370px;
  top:511px;
  width:30px;
  height:30px;
}
#u4344 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u4345 {
  position:absolute;
  left:298px;
  top:437px;
  width:71px;
  height:20px;
  font-size:14px;
  text-align:center;
}
#u4346 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u4347 {
  position:absolute;
  left:487px;
  top:437px;
  width:57px;
  height:20px;
  font-size:14px;
  text-align:center;
}
#u4348 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
}
#u4349 {
  position:absolute;
  left:446px;
  top:227px;
  width:99px;
  height:20px;
  font-size:14px;
  text-align:center;
}
#u4350 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u4351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:2px;
}
#u4351 {
  position:absolute;
  left:298px;
  top:491px;
  width:246px;
  height:1px;
  color:#999999;
}
#u4352 {
  position:absolute;
  left:2px;
  top:-8px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4353_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4353 {
  position:absolute;
  left:1086px;
  top:148px;
  width:57px;
  height:20px;
}
#u4354 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4355_div {
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4355 {
  position:absolute;
  left:1086px;
  top:189px;
  width:509px;
  height:20px;
}
#u4356 {
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  white-space:nowrap;
}
